<%= form_for(@fianzen) do |f| %>
  <% if @fianzen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fianzen.errors.count, "error") %> prohibited this fianzen from being saved:</h2>

      <ul>
      <% @fianzen.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Datum %><br />
    <%= f.date_select :Datum %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
