<h1>Listing fianzens</h1>

<table>
  <tr>
    <th>Datum</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fianzens.each do |fianzen| %>
  <tr>
    <td><%= fianzen.Datum %></td>
    <td><%= link_to 'Show', fianzen %></td>
    <td><%= link_to 'Edit', edit_fianzen_path(fianzen) %></td>
    <td><%= link_to 'Destroy', fianzen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fianzen', new_fianzen_path %>
